<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script> -->
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx-ext-form-json"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <div class="block-background">
        <div class="login-container"
            hx-target="this"
            hx-swap="innerHTML"
        >
            <h2>Project Name</h2>
            <span>Login User</span>     
            <form 
                hx-post="/api/login"
                hx-ext="form-json" 
                hx-trigger="submit" 
                hx-target="#login-result" 
            >   
                <div>
                    <label for="username">Username/Email</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>
                </div>

                <button type="submit">Submit</button>
            </form>


            <button hx-get="/template/auth/signup">SignUp</button>
            <!-- This div will be updated with the server's response -->
            <div id="login-result"></div>


            <div class="container">
                <button 
                    hx-get="/dev/check-cookie/usr_ctx"
                    hx-target="#display-cookie"
                    hx-swap="innerHTML"    
                >
                    CheckCookie
                </button>
                <div id="display-cookie"></div>
            </div>

            
        </div>
    </div>
    

</body>