
html, body {
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    height: 4rem;
    justify-content: space-between; /* pushes left & right content apart */
    align-items: center; /* vertically center content */
    background-color: #333; /* dark header background */
    color: white; /* text color */
    padding: 10px 3rem; /* space inside the header */
    font-family: Arial, sans-serif;
}

.header > div:first-child {
    font-size: 1.6rem;
    flex: 3; 
    text-align: left;
}

.header > div:last-child {
    font-size: 1rem;
    flex: 7; /* 70% share */
    text-align: right;
}

main{
    display: flex;
    padding: 1rem
}

.center-contents{
    display: flex;
    align-items: center;
    justify-content: center;
}

main .announcments-container{
    flex: 3;
    ;
}

main .main-container{
    flex: 7;
    padding: 3rem 0;
}

.loading{
    display: flex;
    text-align: center;
    gap: 1rem;
    align-items: center;
}

.display-container{
    background-color: chocolate;
    justify-content: space-between; 

    padding: 5px 10px;
    width: auto;
}

.block-background {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    height: 100vh;           /* full screen height */
    background-color: #35353563; /* optional background */
}

.login-container{
    border-radius: 3px;
    padding: 2rem 1rem;
    height: fit-content;
    background-color: burlywood;
}


.container{
    // background-color: rgba(57, 15, 78, 0.633 green, blue, alpha);
    width: auto;
    height: 5rem;
}


