
html, body {
    margin: 0;
    padding: 0;
}


/* For Chrome, Safari, Edge */
::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
html {
    scrollbar-width: none; /* Firefox */
}

/* For IE & older Edge */
html {
    -ms-overflow-style: none; /* IE/Edge */
}



a, a:visited {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    height: 6vh;
    justify-content: space-between; /* pushes left & right content apart */
    align-items: center; /* vertically center content */
    background-color: #333; /* dark header background */
    color: white; /* text color */
    padding: 10px 3rem; /* space inside the header */
    font-family: Arial, sans-serif;
}

.header{

    > div:first-child {
        font-size: 1.6rem;
        flex: 3; 
        text-align: left;
    }

    > div:last-child {
        font-size: 1rem;
        flex: 7; /* 70% share */
        display: flex;
        justify-content: flex-end;

        // First action button, when user is not logined
        > a,a:visited {
            text-decoration: none;
            font-weight: bolder;
            font-size: larger;

            .login-button {
                color: #333;
                background-color: aliceblue;
                padding: 0.7rem 1.5rem;
                border-radius: 5px;
            }
        }
            

        // when recieved request navigation actions
        ul{
            display: flex;
            justify-content: flex-end;
            text-align: center;
            align-items: center;
            margin: 0;
            gap: 20px;
            
            
            li{
                list-style: none;
                width:fit-content;

                a, a:visited {
                    text-decoration: none;
                    color: inherit;
                }
            }

            .nav-to{
                color: #333;
                background-color: aliceblue;
                padding: 10px 1rem;
                border-radius: 5px;
            }


            #profile{
                font-size: 3rem;
                color: white;
                margin: 0rem 1rem 0rem 1rem;
                height: 60px;
                width: 60px;
            }
        }
        // navigation action
        


    }


}


main{
    display: flex;
    padding: 1rem
}

.center-contents{
    display: flex;
    align-items: center;
    justify-content: center;
}


main{
    
    .announcments-container{
        flex: 4;
    }

    .main-container{
        flex: 7;
        padding: 3rem 0;
    }
}



.display-container{
    background-color: chocolate;
    justify-content: space-between; 
    padding: 20px 1rem;
    width: auto;
    margin-bottom: 1rem;

    > h3 {
        margin-top: 0;
    }

    > div{

        border: 0.2px rgba(36, 36, 36, 0.288) solid;
        border-radius: 4px;
        padding: 1rem 2rem;

        // load for the api 
        .loading{
            display: flex;
            text-align: center;
            gap: 1rem;
            align-items: center;
        }

        // when contents are loaded
        ul {
            text-decoration: none;
        }


    }

}

.block-background {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    height: 100vh;           /* full screen height */
    background-color: #35353563; /* optional background */
}

.login-container{
    border-radius: 3px;
    padding: 2rem 1rem;
    height: fit-content;
    background-color: burlywood;
}


.container{
    // background-color: rgba(57, 15, 78, 0.633 green, blue, alpha);
    width: auto;
    height: 5rem;
}


.divide{
    display: flex;
    height: 94vh;

    
    > .selection-container{
        
        background-color: rgb(255, 253, 251);
        // border-radius: 4px;
        flex: 2;
        min-width: 300px;
        border-right: 1px rgba(0, 0, 0, 0.363) solid;
        
        > h2 {
            font-size: xx-large;
            padding-left: 40px;
        }

        > ul {
            display: flexbox;
            padding: 0;

            > li{
                display: flex;
                height: 8vh;
                padding-left: 60px;
                list-style: none;
                font-size: larger;
                align-items: center;
                justify-content: ce;
            }

            > li:hover{
                background-color: hsla(0, 0%, 10%, 0.096);
            }
        }

    }

    > .manage-display{
        background-color: rgb(255, 253, 251);
        flex: 10;
        width: auto;
        height: auto;
        padding: 2rem 1rem 0px 1rem;
    }   
}

.filter-div{
    display: inline-flex;
    border: 1px solid #464646;
    border-radius: 5px;
    height: 40px;

    > div {
        user-select: none; 
        padding: 10px 20px;
        border-right: 1px solid #464646; /* divider */
    }

    > div:last-child {
        border-right: none;
    }

    > div:hover{
        background-color: hsla(0, 0%, 10%, 0.096);
    }
    
}

.search-div{
    display: inline-flex;
    border: 1px solid #464646;
    border-radius: 5px;
    height: 40px;
    overflow: hidden;

    > input {
        padding: 5px 7px;
        font-size: 16px;
        border: none;   
        border-right: 1px solid #464646;
        outline: none;                /* removes default focus outline */
        width: 250px; 
        border-top-left-radius: 5px;   /* optional, but safer with overflow: hidden */
        border-bottom-left-radius: 5px;   
    }

    > div {
        font-size: x-large;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 15px;
    }

}

.add-button{
    display: flex;
    border: 1px solid #464646;
    height: 40px;
    width: 100px;
    gap: 10px;
    padding-right: 10px;
    border-radius: 5px;

    align-items: center;
    justify-content: center;

    background-color: rgb(247, 144, 48);

    > i {
        display: flex;
        align-items: center;
        justify-content: center;        
        font-size: large;
    }

    > span {
        user-select: none; 
    }

    &:hover{
        background-color: lighten(rgb(247, 144, 48), $amount: 10%);
    }
}

.item-action{
    display: inline-flex;
    width: 100%;
    min-width: 800px;


    justify-content: space-between;

    margin-bottom: 1rem;

    > div:nth-child(2) {
        display: inline-flex;
        gap: 2rem;
    }
}

.display-list {
    width: auto;
    padding: 1rem 1rem;
    min-height: 40vh;
    height: fit-content;
    // border: 1px solid #464646;
    border-radius: 0px 0px 3px 3px;
    min-width: 800px;
    background-color: rgba($color: #000000, $alpha: 0.1);

    .empty-list{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;

        > div {
            font-size: larger;
            font-weight: bolder;
            border: 1px solid #464646;
            border-radius: 3px;
            padding: 3rem 8rem;
            background-color: darken(white, $amount: 5%);
        }
    }

}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal content */
.modal-content {

    @mixin action_button($color){
        margin-top: 2rem;
        display: flex;
        justify-content: end;
        gap: 1rem;

        button {
            padding: 0.5rem 1rem;
        }

        > button:nth-child(1){
            background-color: $color;
            border: 1px solid #464646;;
            border-radius: 3px;
        }

        > button:nth-child(1):hover {
            background-color: lighten($color, $amount: 10%);
        }

        > button:nth-child(2){
            background-color: white;
            border: 1px solid #464646;;
            border-radius: 3px;
        }

        > button:nth-child(2):hover {
            background-color: darken(white, 10%)
        }
    }

    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    > .header {
        display: flex;
        background-color: white;   // <--- add this
        justify-content: space-between;  
        padding: 10px 0px 20px 0px ;
        
        h1 {
            padding-left: 1rem;
            color: #333;
            font-size: 900;
        }
        
        .close {
            position: absolute;
            top: 15px;
            right: 25px;
            font-size: 28px;
            cursor: pointer;
            color: #333;
        }
    }

    > div {
        padding: 0px 2rem;

        p {
            margin: 0;
            span{
                font-weight: bolder;
            }
        }

        .action{
            margin-top: 2rem;
            display: flex;
            justify-content: end;
            gap: 1rem;

            button {
                padding: 0.5rem 1rem;
            }

            > button:nth-child(1){
                background-color: rgb(247, 48, 48);
                border: 1px solid #464646;;
                border-radius: 3px;
            }

            > button:nth-child(1):hover {
                background-color: lighten(rgb(247, 48, 48), $amount: 10%);
            }

            > button:nth-child(2){
                background-color: white;
                border: 1px solid #464646;;
                border-radius: 3px;
            }

            > button:nth-child(2):hover {
                background-color: darken(white, 10%)
            }
        }
        
    }

    .warning-action {
        @include action_button(rgb(211, 78, 78))
    }

    .confirm-action{
        @include action_button(rgb(247, 144, 48))
    }

    > form{

        padding: 0px 2rem;

        > div {
            margin-bottom: 1rem;

            > label {
                font-size: medium;
                // margin-bottom: 50px;
            }

            > input {
                padding-left: 5px;
                width: 97%;
                font-size: 24;
                height: 27px;
            }
        }
 
    }
}


.pager{
    display: flex;
    justify-content: right;

    > div{
        display: flex;
        gap: 0;
    }

    input[type=number] {
        width: 20px;
        text-align: center;
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }


}

.table-container{
    max-height: 70vh;   /* limit height */
    overflow-y: auto;   /* vertical scrolling */
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.table-list{

    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    th {
        text-align: center;
    }

    th:not(:last-child) , td:not(:last-child) {
        border-right: 1px solid rgba(0, 0, 0, 0.2); /* light/transparent borders */
        padding: 8px;
        // text-align: left;
    }

    td:not(:first-child){
        text-align: center;
    }

    // utilized in bundles pages to 
    // display items of a bundle
    .item-pop-up{
        padding: 10px;
        background-color: #000000;
        border-radius: 2px;
        width: auto;
    }


    @mixin status_bubble($color){
        background-color: $color;
        border-radius: 2px;
        color: beige;
        font-weight: 500;
        padding: 10px 10px;
        width: fit-content;
        margin: 0 auto;
    }

    .status-red{
        @include status_bubble(rgb(211, 78, 78))
        
    }

    .status-green{
        @include status_bubble(rgb(131, 211, 78))
    }

    
}